/* 초기화 */
* {margin: 0; padding: 0;}

body {
    background-color: rgb(30, 150, 170);
}

input {
    outline: none;  /* 마우스로 인풋 칸을 클릭하면 굵은 테두리로 포커싱 되는걸 없애 줌 */
    border: none;
    background-color: transparent;  /* 인풋 칸 투명색으로 바꾸기 */
}

a { /* 로그인 링크 버튼, 회원 가입 링크 버튼 디자인 초기화 */
    color: black;
    text-decoration: none;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------- */

/* 전체 영역 */
.container {
    width: 100%;
    height: 100vh;  /* vh? 윈도우 창 크기가 바뀌는것에 따라 윈도우 창에 비례하게 유지 */
}

/* 로그인 영역 */
.login-wrap {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
}

/* inner */
#login {
    width: 100%;
    height: 100%;
    /* 가이드라인 생성 */
    /* border: 1px solid black; */
}

/* 로고 */
#login .login-logo {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#login .login-logo img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* 아이디/비밀번호 */
#login .login-inputbox {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}

#login .login-inputbox input{
    width: 100%;
    height: 32px;
    padding-left: 5px;
    font-size: 1rem;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
}

#login .login-inputbox input::placeholder {
    color: rgb(187, 187, 187);
}

/* 입력 상자 - 밑줄 */
#login .login-inputbox input ~ .border {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    border: 0px solid rgb(30, 150, 170);
}

/* 
    :focus
    - input 태그에 마우스 커서가 놓인 상태를 선택
    => 84ln안에서 width 0, border 0으로 줬는데 아래 99ln 안에서 각각 100, 1로 줘서 마우스로 포커싱시
    아래 효과가 적용 됨
*/

#login .login-inputbox input:focus ~ .border {
    width: 100%;
    border-width: 1px;
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
}

#login .login-remember {
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
}

#login .login-remember label {
    position: relative;
    padding-left: 25px;
    color: rgb(187, 187, 187);
    cursor: pointer;
    margin-right: 15px;
}

#login .login-remember label input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: 0;
    cursor: pointer;
}

#login .login-remember label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(187, 187, 187);
    
}

/* 체크 박스 안의 체크 표시를 가상 요소로 만들기 */
#login .login-remember label .checkmark::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 11px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* 
    ::checked
    - input 체크 박스가 체크된 상태를 선택
*/

#login .login-remember label input:checked ~ .checkmark {
    background-color: rgb(30, 150, 170);
}

#login .login-remember label input:checked ~ span {
    color: rgb(30, 150, 170);
}

#login .login-remember label span {
    user-select: none;      /* 유저가 드래그시 파랗게 드래그 안되도록 하기*/
}

/* 버튼 */

#login .login-btnbox {
    height: 50px;
    margin: 10px;
}

#login .login-btnbox .login-btn {
    display: block;
    background-color: rgb(30, 150, 170);
    color: white;
    font-size: 1.2rem;
    line-height: 50px;
    border-radius: 10px;

}

#login .login-btnbox .login-btn:hover {
    filter: brightness(90%);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}

/* 카피 라이트 */
#login .copy {
    height: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#login .copy p {
    font-size: 0.7rem;
    text-align: center;
}